*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration:none;
    font-size:12px;


}

ul{
    list-style-type:none;
}

header{
    background-color: red;
    height: 150px;
    width: 100%;

    
}
#header_1{
    height: 30px;
    width: 100%;
    display: flex;
}

#header_01{
    background-color: black;
    height: 30px;
    width: 20%;
}

#header_01 ul{
    
    padding:0px 10px;
    display: flex;
    color:white;
}
#header_02{
    background-color: aqua;
    height: 30px;
    width: 60%;
}
#header_03{
    background-color: yellow;
    height: 30px;
    width: 20%;
    
}

#header_03 ul{
    display: flex;
    color:white;
}

#header_text ul{
    height: 30px;
    color:white;
    display: flex;
    font-size:18px;
}

#header_2{
    height: 120px;
    width: 100%;
    display: flex;
}

#header_pic{
    width: 50%;

}

#header_pic_img{
    height: 90px;
}

#content{

    height: 250px;
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content:center;

}

#content_pic_img{
    height: 250px;
}

#sideber{
    height:250px;
    width: 100%;
    background-color: yellow;
    display: flex;
}

#sideber_01{
    height:250px;
    width: 30%;
    background-color: crimson;

}
#sideber_01_b{
    font-size: 18px;
}



#sideber_02{
    height:250px;
    width: 50%;
    background-color: purple;
    display: flex;
}

#sideber_03{
    height:250px;
    width: 20%;
    background-color: hotpink;

}

footer{
    height:150px;
    width: 100%;
    background-color: aqua;
}

#footer_01 ul{
    display: flex;
}
#footer_02 {
    display: flex;
    margin: 5px;
}

#footer_03{
    height:15px;
    background-color: black;
    color: white;
}
